{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
  }

  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
  }

  a {
    color: #0077CC;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  /* Navigation bar styles */
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  #navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 960px;
  }

  #navbar li {
    list-style: none;
  }

  #navbar a {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
  }

  /* Welcome section styles */
  #welcome-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
  }

  #welcome-section h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
  }

  #welcome-section p {
    font-size: 24px;
    text-align: center;
    color: #666666;
  }

  /* Projects section styles */
  #projects {
    padding: 50px;
    max-width: 960px;
    margin: 0 auto;
  }

  .project-tile {
    margin-bottom: 50px;
  }

  .project-tile h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .project-tile p {
    font-size: 16px;
    color: #666666;
    margin-bottom: 10px;
  }

  .project-tile a {
    display: block;
    font-size: 16px;
    color: #0077CC;
  }

  .project-tile a:hover {
    text-decoration: underline;
  }

  /* Media queries */
  @media screen and (max-width: 768px) {
    #navbar {
      position: sticky;
      top: 0;
    }

    #navbar ul {
      flex-wrap: wrap;
    }

    #navbar li {
      flex-grow: 1;
      margin-bottom: 10px;
    }
  }

  @media screen and (min-height: 100vh) {
    #welcome-section {
      height: 100%;
    }
  }


  #projects a {
    display: none;
  }


  body {
    padding-top: 80px;
    background-color: #666666;
  }
	